
<div class="center space">
    <app-enclots *ngFor="let enclot of enclots" (update)="saveEnclots()" (delete)=" deleteEnclot(enclot)" [enclot]="enclot"></app-enclots>
</div>


<div class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="enclotName" placeholder="Nom de l'enclot">
    </mat-form-field>
    <button (click)="addEnclots()" type="button" mat-raised-button>Créer</button>
</div>