<mat-card class="example-card">
    <mat-card-header>
      <button (click)="deleteThisOne()" mat-raised-button>x</button>
      <mat-card-title>{{ enclot.name | uppercase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-liste-animaux [enclot]="enclot" ></app-liste-animaux>
    </mat-card-content>
  </mat-card>
