
<h2>Animaux : </h2>

<mat-list>
    <app-animal *ngFor="let animal of animals" (update)="saveAnimals()" [animal]="animal"></app-animal>
</mat-list>


<div class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="animalName" placeholder="Ajoutez un animal">
    </mat-form-field>
    <button (click)="addAnimals()" type="button" mat-raised-button>+</button>
</div>